<div class="row">
  <div class="col-xs-12 col-md-8">
    <h2>Activities</h2>

    <ul class="items">
      <% @activities.each do |activity| -%>
        <li class="item">
          <div class="clearfix">
            <%= render partial: "home/activities/#{activity.action}", locals: { activity: activity } %>
          </div>
          <hr />
        </li>
      <% end %>
    </ul>

    <%= paginate @activities %>
  </div>

  <div class="col-xs-12 col-md-4">
    <h2>Challenges</h2>

    <ul class="items">
      <% @challenges.each do |challenge| -%>
        <li class="item">
          <div class="clearfix">
            <div class="left">
              <img src="<%= challenge.user.profile_picture_url  %>" class="avatar" />
            </div>
            <div class="right">
              <span class="date">
                ending on <strong><%= l challenge.created_at, format: :short %></strong>
              </span>
              <p class="description">
                <span class="challenge"><%= link_to challenge.name, challenge_path(challenge)%></span>
              </p>
            </div>
          </div>
          <hr />
        </li>
      <% end %>
    </ul>
  </div>
</div>
