<div class="row">
  <div class="col-xs-12 col-md-8">
    <h2>Activities</h2>

    <ul class="items">
      <% if @activities.any? -%>
        <% @activities.each do |activity| -%>
          <li class="item">
            <div class="clearfix">
              <%= render partial: "home/activities/#{activity.action}", locals: { activity: activity } %>
            </div>
            <hr />
          </li>
        <% end %>
      <% else %>
        <p>No activities yet. <%= link_to 'Start a new challenge and invite your friends', new_challenge_path %></p>
      <% end %>
    </ul>

    <%= paginate @activities %>
  </div>

  <div class="col-xs-12 col-md-4">
    <h2>Challenges</h2>

    <ul class="items">
      <% if @challenges.any? -%>
        <% @challenges.each do |challenge| -%>
          <li class="item">
            <div class="clearfix">
              <div class="left">
                <img src="<%= challenge.user.profile_picture_url  %>" class="avatar" />
              </div>
              <div class="right">
                <span class="date">
                  ending on <strong><%= l challenge.end_time, format: :short %></strong>
                </span>
                <p class="description">
                  <span class="challenge"><%= link_to challenge.name, challenge_path(challenge)%></span>
                </p>
              </div>
            </div>
            <hr />
          </li>
        <% end %>
      <% else %>
        <p>No activities yet. <%= link_to 'Start a new challenge and invite your friends', new_challenge_path %></p>
      <% end %>
    </ul>
  </div>
</div>
